<!-- header -->
<section class="page-section" id="signup">
    <div class="container">

      <!-- Sign Up Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Авторизация</h2>

      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Sign Up Section Content -->
      <div class="row">

        <!-- Sign Up 1 -->
        <div class="col-md-3">
          <div class="portfolio-item mx-auto">
            <button class="btn-signup">
              <a class="a-signup" href="./views/logIn/logInStudent.html">Авторизация студента</a>
            </button>
          </div>
        </div>
        

        <!-- Sign Up 2 -->
        <div class="col-md-3">
          <div class="portfolio-item mx-auto">
            <button class="btn-signup">
              <a class="a-signup" href="./views/logIn/logInMentor.html">Авторизация ментора</a>
            </button>
          </div>
        </div>

        <!-- Sign Up 3 -->
        <div class="col-md-3">
          <div class="portfolio-item mx-auto">
            <button class="btn-signup">
              <a class="a-signup" href="./views/logIn/logInUniversity.html">Авторизация университета</a>
            </button>
          </div>
        </div>

        <!-- Sign Up 4 -->
        <div class="col-md-3">
          <div class="portfolio-item mx-auto">
            <button class="btn-signup">
              <a class="a-signup" href="./views/logIn/logInCompany.html">Авторизация компании</a>
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>
<!-- footer -->